.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Cambia el color de fondo según sea necesario */
    color: white; /* Cambia el color del texto según sea necesario */
  }
  
  .nav-item {
    margin-right: 42px; /* Ajusta el espacio entre elementos según sea necesario */
    display: flex;
  align-items: center;
  }
  
  .nav-logo {
    margin: 10px; 
    width: 200px;
  }
  
  .nav-icon {
    width: 42px; /* Ajusta el tamaño del icono según sea necesario */
  }

  .number{
    margin-left: 15px;
  margin-top: 15px;
  color: #C8E9F0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  }