.custom-combobox {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #C8E9F021;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .custom-combobox div {
    padding: 8px;
    cursor: pointer;
  }
  
  .custom-combobox div:hover {
    background-color: #37CAEC;
  }