.answer-button {
  background-color: var(--primary-light);
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  border: 4px solid transparent;
  margin: 1rem;
}
.answer-button:hover {
  background-color: var(--primary);
}

.answer-button-selected {
  background-color: var(--primary);
  border: 4px solid var(--primary-light);
}
.answer-button-correct {
  background-color: var(--success);
}
.answer-button-incorrect {
  background-color: var(--error);
}