.container-profile {
    background: #C8E9F021;
    border-radius: 23px;
    width: 750px;
    height: 500px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
  }
  
  .profile-title {
    color: #37CAEC;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 162.523%;
  }
  
  .grid-profile-container {
    display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 10px; 
  grid-template-rows: repeat(2, auto); 
  margin-bottom: 15px; 
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .number{
    margin-left: 15px;
    margin-top: 15px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
  }

  .profile-letters{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 162.523%;
    margin-right: 10px;
  }

  .avatar-image{
    width: 120px;
    margin-right: 60px;
  }

.coin-and-number-profile {
    display: flex;
    align-items: center;
    margin-left: 110px;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .avatar-text-profile{
    color: #37CAEC;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin-right: 50px;
    background-color: transparent;
    padding: 0px;
  }