.powerups-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.powerup-button{
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
  border-width: 0rem;
  background-color: transparent;
}

.powerup-button:hover{
  background-color: var(--transparent-background);
}
.powerup-button{
  display: flex;
  padding: 1rem;
  border-width: 0rem;
  background-color: transparent;
}

.powerup-button-icon{
  height: 3rem;
  margin-right: 1rem;
}

.powerup-button-text{
  font-size: 1rem;
  color: white
}

.powerup-button-price-text{
  font-size: 1rem;
  color: var(--primary-lighter)
}

.powerup-button-price-icon{
  height: 1.5rem;
  margin-right: 1rem;
}

.powerup-button-side-container{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}
.powerup-icon-padded{
  padding: 0.2rem;
}